/*
    @import "https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic%7CNoto+Serif:400,400italic,700,700italic%7CDroid+Sans+Mono:400,700";
*/
@import "https://cdn.jsdelivr.net/gh/asciidoctor/asciidoctor@2.0/data/stylesheets/asciidoctor-default.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

* {
    font-family: 'Noto Sans JP', sans-serif;
}

@media screen and (min-width: 1280px) {
    #toc.toc2 {
        width: 16em;
    }

    body.toc2 {
        padding-left: 16em;
        padding-right: 0;
    }
}

h1, h2, h3, h4, h5, h6, #toctitle {
    font-weight: bold;
    color: rgba(0, 0.2, 0.2, 0.8);
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 2.0em;
}

h3 {
    font-size: 1.5em;
    margin-top: 4em;
}

h4, h5, h6 {
    font-size: 1.25em;
    margin-top: 3em;
}

.sidebarblock > .content > .title {
    font-size: 1.2em;
    font-weight: bold;
    color: rgba(0, 0.2, 0.2, 0.8);
}
/*
code {
    font-size: 9pt;
}

dl {
    margin-top: 3em;
}
*/
